<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saurabh.justcheckout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustCheckOut"
        android:usesCleartextTraffic="true"
        tools:targetApi="25">
        <activity
            android:name=".admin.ProductListActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admin.CreateProductActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".user.authentication.AuthenticationActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.checkout.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".user.CartActivity"
            android:exported="false" />
        <activity
            android:name=".user.ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".user.introduction.WelcomeScreen"
            android:exported="true" />
        <activity
            android:name=".user.introduction.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.home.MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>